name: sphinxjp/sphinx-users.jp
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: build html
        run: |
          sudo apt install python3-venv
          python3 -m venv .venv
          source .venv/bin/activate
          pip install -r requirements.txt
          sphinx-build -M html source build -N -T
          deactivate
          ls build
      - name: slack-notifier
        uses: 8398a7/action-slack@v2.7.0
        with:
          status: ${{ job.status }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: always()
      - name: upload build
        uses: actions/upload-artifact@v1
        with:
          name: build
          path: build
  release:
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/pull/69/merge' }}
    needs: build
    steps:
      - name: download build
        uses: actions/download-artifact@v1
        with:
          name: build
      - name: s3sync
        uses: opspresso/action-s3-sync@master
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: "ap-northeast-1"
          FROM_PATH: "build/html"
          DEST_PATH: "s3://sphinx-users.jp/"
          OPTIONS: "--acl public-read"
      - name: slack-notifier
        uses: 8398a7/action-slack@v2.7.0
        with:
          status: ${{ job.status }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: always()
